[submodule "libdparse"]
	path = libdparse
	url = https://github.com/dlang-community/libdparse.git
	branch = master
[submodule "libddoc"]
	path = libddoc
	url = https://github.com/dlang-community/libddoc.git
	branch = master
[submodule "stdx-allocator"]
	path = stdx-allocator
	url = https://github.com/dlang-community/stdx-allocator.git
